# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/Chapter_01_02/target/
/Chapter_03/target/
/Chapter_04/target/
/target/
/Chapter_05/target/
